.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-hint {
    color: #909090;
}
.twitter-typeahead .tt-menu {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px;
    margin-top: 2px;
}
.twitter-typeahead .tt-suggestion {
    border-bottom: 1px solid #c0c0c0;
    padding: 8px;
}
.twitter-typeahead .tt-suggestion:nth-child(even) {
    background-color: #f0f0f0;
}
.twitter-typeahead .tt-suggestion:last-child {
    border-bottom: none;
}
.twitter-typeahead .tt-suggestion:hover {
    background-color: #0097cf;
    color: #ffffff;
    cursor: pointer;
}
